{% extends 'base.html' %}

{% block head %} 
<title>Posts</title>
{% endblock %}


{% block body %} 
<h1>All Posts</h1>

<hr>
<h2>Create New Blog Post:</h2>
<form action='/posts' method='POST'>
    Title: <input type='text' name='title' id='title'>
    <br>
    Author: <input type='text' name='author' id='author'>
    <br>
    Post: <input type='text' name='content' id='content'>
    <br>
    <input type='submit' value='Post'>

</form>
<hr>


    {% for post in posts %} <!-- for loop 迴圈-->
        <h2>{{ post.title }}</h2> <!--用兩個大刮號印出資料-->
    
        {% if post.author %}<!-- if else-->
            <h3>By: {{ post.author }}</h3>
        {% else %}
            <h3>By: N/A</h3>
        {% endif %}    

        <p>{{ post.content }}</p>
    {% endfor %}
{% endblock %} 